a {
    color: black;
    text-decoration-line: none;
}
a:hover {
    text-decoration-line: underline;
}
.even-row {
    background-color: #EEEEEE;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
